ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.person-drawn {
    width: 250px;
    color: white;
}

.drawn-title {
    text-align: left;
}

.person {
    display: flex;
    gap: 16px;
    text-align: left;
}
